:root {
	--Bdiam: 20px;
	--groundW: 1000px;
	--groundH: 600px;
}

.body {
	/*display: flex;
	justify-content: center;*/
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
}

/*.container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	justify-content: center;
}*/

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 600px 50px;
	grid-template-areas:
		"A B C"
		"D D D"
		"E F G";
	/*position: relative;*/
	/*justify-content: center;*/
	align-items: center;
	margin: 30px 30px 30px 30px;
	width: var(--groundW);
	/*height: 100%;*/
}

.info,
.score,
.player,
.ready,
.coliz,
.quit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	/*width: 30%;*/
	margin: 10px;
	text-align: center;
	color: #ffffff;
}

.info {
	background-color: rgb(78, 75, 73);

	grid-area: A;
	border-radius: 20px 20px 0px 0;
}
.score {
	grid-area: B;

	background-color: rgb(203, 67, 13);
	border-radius: 20px 20px 0px 0;
}

.player {
	grid-area: C;

	background-color: rgb(19, 32, 174);
	border-radius: 20px 20px 0px 0;
}

.frame {
	grid-area: D;

	position: relative;
	width: var(--groundW);
	height: var(--groundH);
	background-color: #000000;
	border-radius: 5px;
	box-shadow: 0 0 10px #000000;
	overflow: hidden;
	align-self: center;
	outline: 30px solid #b50f0f6a;
}

/*  */

.ready {
	grid-area: E;
	background-color: rgb(102, 50, 13);
	border-radius: 0px 0px 20px 20px;


}
.coliz {
	background-color: green;
	grid-area: F;
	border-radius: 0px 0px 20px 20px;

}

.quit {
	grid-area: G;
	background-color: rgb(47, 93, 0);
	border-radius: 0px 0px 20px 20px;

}



.display {
	display: block;
}
.nodisplay {
	display: none;
}

/*  */

.brik {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 30px;
	background-color: aqua;
	border-radius: 5%;
	transition: all 0.5s ease-in-out;
	/*z-index: 3;*/
}
.user {
	position: absolute;
	/*top: 0;
	left: 0;*/
	width: 90px;
	height: 30px;
	background-color: aqua;
	border-radius: 20%;
	transition: all 0.35s ease-in-out;

	/*z-index: 3;*/
}

.ball {
	position: absolute;
	/*top: 0;*/
	/*left: 0;*/
	width: var(--Bdiam);
	height: var(--Bdiam);

	background-color: rgb(255, 77, 0);
	border-radius: 100%;
	margin: 0;
	padding: 0;
}

/*.reload {
	display: block;
	position: absolute;
	top: 200px;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;
	border: 3px solid #ffffff;
}*/

/*.noreload {
	display: none;
	position: absolute;
	top: 200px;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;

	border: 3px solid #ffffff;
}*/

/*.ready {
	display: block;

	position: sticky;
	top: 200px;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;

	border: 3px solid #ffffff;
}*/

/*.noready {
	display: none;
	position: absolute;
	top: 200px;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;

	border: 3px solid #ffffff;
}*/

/*  */



/*  */

/*.ready {
	display: block;
	position: absolute;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;

	border: 3px solid #ffffff;
}*/

/*.noready {
	display: none;
	position: absolute;
	top: 200px;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;

	border: 3px solid #ffffff;
}*/

/*.reload {
	grid-area: E;
	display: block;
	transition: none;
	/*top: 630px;*/
	/*left: 30px;*/
}*/

/*.quit {
	display: none;
	position: absolute;
	top: 200px;
	background-color: rgba(34, 189, 88, 0.844);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 10px;
	text-align: center;
	transition: all 3s;

	border: 3px solid #ffffff;
}*/


